<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmClassGradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.BmClassGradeDTO">
        <id column="id" property="id" />
        <result column="class_grade_name" property="classGradeName" />
        <result column="tea_id" property="teaId" />
        <result column="tea_name" property="teaName" />
        <result column="classroom_id" property="classroomId" />
        <result column="classroom_name" property="classroomName" />
    </resultMap>

</mapper>
