<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmClassGradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.course.BmClassGradeDTO">
        <id column="id" property="id"/>
        <result column="class_grade_name" property="classGradeName"/>
        <result column="tea_id" property="teaId"/>
        <result column="tea_name" property="teaName"/>
        <result column="classroom_id" property="classroomId"/>
        <result column="classroom_name" property="classroomName"/>
        <result column="cur_type" property="curType"/>
        <result column="class_garde_type" property="classGardeType"/>
    </resultMap>

    <select id="page" resultMap="BaseResultMap">
        SELECT bcg.id,
        bcg.class_grade_name,
        bcg.tea_id,
        bcg.tea_name,
        bcg.classroom_id,
        bcg.classroom_name,
        bcg.cur_type,
        bcg.class_garde_type
        FROM bm_class_grade bcg
        <where>
            bcg.del_flag = 1
            <if test="query.classGradeName != null and query.classGradeName != ''">
                AND bcg.class_grade_name LIKE CONCAT("%",#{query.classGradeName},"%")
            </if>
            <if test="query.teaName != null and query.teaName != ''">
                AND bcg.tea_name LIKE CONCAT("%",#{query.teaName},"%")
            </if>
            <if test="query.classroomName != null and query.classroomName != ''">
                AND bcg.classroom_name LIKE CONCAT("%",#{query.classroomName},"%")
            </if>
        </where>
    </select>

</mapper>
