<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmCourseScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.BmCourseScheduleDTO">
        <id column="id" property="id" />
        <result column="cur_schedule_name" property="curScheduleName" />
        <result column="cur_schedule_star_time" property="curScheduleStarTime" />
        <result column="cur_schedule_end_time" property="curScheduleEndTime" />
    </resultMap>

</mapper>
