<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.BmCourseDTO">
        <id column="id" property="id" />
        <result column="course_type" property="courseType" />
        <result column="course_name" property="courseName" />
        <result column="week_one" property="weekOne" />
        <result column="course_start_time" property="courseStartTime" />
        <result column="course_end_time" property="courseEndTime" />
        <result column="class_person_size" property="classPersonSize" />
        <result column="class_room_id" property="classRoomId" />
        <result column="class_room_name" property="classRoomName" />
        <result column="tea_id" property="teaId" />
        <result column="tea_name" property="teaName" />
        <result column="class_grade_id" property="classGradeId" />
        <result column="class_grade_name" property="classGradeName" />
    </resultMap>

    <select id="page" resultMap="BaseResultMap">
        SELECT
        bc.id,
        bc.course_type,
        bc.course_name,
        bc.week_one,
        bc.course_start_time,
        bc.course_end_time,
        bc.class_person_size,
        bc.class_room_id,
        bc.class_room_name,
        bc.tea_id,
        bc.tea_name,
        bc.class_grade_id,
        bc.class_grade_name
        FROM
        bm_course bc
        <where>
            bc.del_flag = 1
            <if test="query.courseType != null">
                AND bc.course_type = #{query.courseType}
            </if>
            <if test="query.courseName != null and query.courseName != ''">
                AND bc.course_name LIKE CONCAT("%",#{query.courseName},"%")
            </if>
            <if test="query.weekOne != null and query.weekOne != ''">
                AND bc.week_one = #{query.weekOne}
            </if>
            <if test="query.courseName != null and query.courseName != ''">
                AND bc.course_name LIKE CONCAT("%",#{query.courseName},"%")
            </if>
            <if test="query.courseStartTime != null">
                AND bc.course_start_time &gt;= #{query.courseStartTime}
            </if>
            <if test="query.courseEndTime != null">
                AND bc.course_end_time &lt;= #{query.courseEndTime}
            </if>
            <if test="query.classGradeName != null and query.classGradeName != ''">
                AND bc.class_grade_name LIKE CONCAT("%",#{query.classGradeName},"%")
            </if>
            <if test="query.teaName != null and query.teaName != ''">
                AND bc.tea_name LIKE CONCAT("%",#{query.teaName},"%")
            </if>
            <if test="query.classRoomName != null and query.classRoomName != ''">
                AND bc.class_room_name LIKE CONCAT("%",#{query.classRoomName},"%")
            </if>
        </where>
    </select>

</mapper>
