<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.course.BmCourseDTO">
        <id column="id" property="id"/>
        <result column="course_type" property="courseType"/>
        <result column="course_name" property="courseName"/>
        <result column="week_one" property="weekOne"/>
        <result column="course_start_time" property="courseStartTime"/>
        <result column="course_end_time" property="courseEndTime"/>
        <result column="class_person_size" property="classPersonSize"/>
        <result column="class_room_id" property="classRoomId"/>
        <result column="class_room_name" property="classRoomName"/>
        <result column="tea_id" property="teaId"/>
        <result column="tea_name" property="teaName"/>
        <result column="class_grade_id" property="classGradeId"/>
        <result column="class_grade_name" property="classGradeName"/>
        <result column="course_status" property="courseStatus"/>
    </resultMap>

    <select id="page" resultMap="BaseResultMap">
        SELECT
        bc.id,
        bc.course_type,
        bc.course_name,
        bc.week_one,
        bc.course_start_time,
        bc.course_end_time,
        bc.class_person_size,
        bc.class_room_id,
        bc.class_room_name,
        bc.tea_id,
        bc.tea_name,
        bc.class_grade_id,
        bc.class_grade_name,
        bc.course_status
        FROM
        bm_course bc
        <where>
            bc.del_flag = 1
            <if test="query.courseType != null">
                AND bc.course_type = #{query.courseType}
            </if>
            <if test="query.courseName != null and query.courseName != ''">
                AND bc.course_name LIKE CONCAT("%",#{query.courseName},"%")
            </if>
            <if test="query.weekOne != null and query.weekOne != ''">
                AND bc.week_one = #{query.weekOne}
            </if>
            <if test="query.courseStartTime != null">
                AND bc.course_start_time &gt;= #{query.courseStartTime}
            </if>
            <if test="query.courseEndTime != null">
                AND bc.course_end_time &lt;= #{query.courseEndTime}
            </if>
            <if test="query.classGradeName != null and query.classGradeName != ''">
                AND bc.class_grade_name LIKE CONCAT("%",#{query.classGradeName},"%")
            </if>
            <if test="query.teaName != null and query.teaName != ''">
                AND bc.tea_name LIKE CONCAT("%",#{query.teaName},"%")
            </if>
            <if test="query.classRoomName != null and query.classRoomName != ''">
                AND bc.class_room_name LIKE CONCAT("%",#{query.classRoomName},"%")
            </if>
            <if test="query.courseStatus != null">
                AND bc.course_status = #{query.courseStatus}
            </if>
        </where>
    </select>

    <select id="courseStuInfo" resultType="com.mini.pojo.model.vo.course.BmStuCourseVo"
            parameterType="java.lang.Long">
        SELECT bscg.stu_id,
               bscg.stu_name
        FROM bm_course bc
                 LEFT JOIN bm_stu_class_grade bscg ON bc.class_grade_id = bscg.class_grade_id
            AND bscg.del_flag = 1
        WHERE bc.del_flag = 1
          AND bc.id = #{courseId}
    </select>

    <resultMap id="CourseDetailMap" type="com.mini.pojo.model.vo.course.BmCourseVo">
        <id column="id" property="id"/>
        <result column="" property="courseType"/>
        <result column="" property="courseName"/>
        <result column="" property="weekOne"/>
        <result column="" property="courseStartTime"/>
        <result column="" property="courseEndTime"/>
        <result column="" property="classPersonSize"/>
        <result column="" property="classRoomId"/>
        <result column="" property="classRoomName"/>
        <result column="" property="teaId"/>
        <result column="" property="teaName"/>
        <result column="" property="classGradeId"/>
        <result column="" property="classGradeName"/>
        <collection property="bmCourseStuSignVoList" ofType="com.mini.pojo.model.vo.course.BmCourseStuSignVo">
            <id column="signId" property="signId"/>
            <result column="stuId" property="stuId"/>
            <result column="stu_name" property="stuName"/>
            <result column="sign_status" property="signStatus"/>
        </collection>

        <collection property="bmCourseStuPicVoList" ofType="com.mini.pojo.model.vo.course.BmCourseStuPicVo">
            <id column="" property="picId"/>
            <result column="stuId" property="stuId"/>
            <result column="stu_name" property="stuName"/>
            <collection property="picUrlList" javaType="String">
<!--                <result column=""-->
            </collection>
        </collection>
    </resultMap>

    <select id="selectDetailById" resultMap="CourseDetailMap">
        SELECT bc.id,
               bc.course_type,
               bc.course_name,
               bc.week_one,
               bc.course_start_time,
               bc.course_end_time,
               bc.class_person_size,
               bc.class_room_id,
               bc.class_room_name,
               bc.tea_id,
               bc.tea_name,
               bc.class_grade_id,
               bc.class_grade_name,
               bs.id AS stuId,
               bs.stu_name,
               bcss.id AS signId,
               bcss.sign_status,
               bcsp.id AS picId,
               bcsp.pic_id,
               sf.file_url
        FROM bm_course bc
                 LEFT JOIN bm_course_stu_sign bcss ON bc.id = bcss.course_id
            AND bcss.del_flag = 1
                 LEFT JOIN bm_course_stu_pic bcsp ON bc.id = bcsp.course_id
            AND bcsp.del_flag = 1
                 LEFT JOIN bm_student bs ON bcss.stu_id = bs.id
            AND bcsp.stu_id = bs.id
            AND bs.del_flag = 1
                 LEFT JOIN sys_file sf ON bcsp.pic_id = sf.id AND sf.del_flag = 1
        WHERE bc.del_flag = 1
          AND bc.id = 1654909233529216
    </select>

</mapper>
