<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmHandlerClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.course.BmHandlerClassDTO">
        <id column="id" property="id" />
        <result column="stu_id" property="stuId" />
        <result column="stu_name" property="stuName" />
        <result column="intention_cur_time" property="intentionCurTime" />
        <result column="consume_time" property="consumeTime" />
        <result column="cur_type" property="curType" />
    </resultMap>

    <select id="page" resultMap="BaseResultMap">
        SELECT
        bhc.id,
        bhc.stu_id,
        bhc.stu_name,
        bhc.intention_cur_time,
        bhc.consume_time,
        bhc.cur_type
        FROM bm_handler_class bhc
        <where>
            <if test="query.stuName != null and query.stuName != ''">
                AND bhc.stu_name LIKE CONCAT('%',#{query.stuName},'%')
            </if>
            <if test="query.curType != null">
                AND bhc.cur_type = #{query.curType}
            </if>
        </where>
    </select>

</mapper>
