<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmHandlerClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.BmHandlerClassDTO">
        <id column="id" property="id" />
        <result column="stu_id" property="stuId" />
        <result column="stu_name" property="stuName" />
        <result column="intention_cur_time" property="intentionCurTime" />
        <result column="consume_time" property="consumeTime" />
        <result column="cur_type" property="curType" />
    </resultMap>

</mapper>
