<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmIdeaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.operate.BmIdeaDTO">
        <id column="id" property="id"/>
        <result column="idea_type" property="ideaType"/>
        <result column="idea_content" property="ideaContent"/>
    </resultMap>

    <select id="page" resultMap="BaseResultMap">
        SELECT bi.id,
        bi.idea_type,
        bi.idea_content
        FROM bm_idea bi
        <where>
            bi.del_flag = 1
            <if test="query.ideaType != null">
                AND bi.idea_type = #{query.ideaType}
            </if>
        </where>
    </select>

</mapper>
