<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mini.manager.mapper.BmOrgMapper">
    <resultMap type="com.mini.pojo.model.dto.org.BmOrgDTO" id="BmOrgMap">
        <result property="id" column="id"/>
        <result property="orgName" column="org_name"/>
        <result property="orgAddress" column="org_address"/>
        <result property="orgLongitude" column="org_longitude"/>
        <result property="orgLatitude" column="org_latitude"/>
        <result property="orgDescribed" column="org_described"/>
        <result property="orgStatus" column="org_status"/>
        <result property="orgHeadA" column="org_head_a"/>
        <result property="orgHeadB" column="org_head_b"/>
        <result property="orgBusinessLicenseId" column="org_business_license_id"/>
        <result property="orgBusinessLicenseUrl" column="orgBusinessLicenseUrl"/>
    </resultMap>

    <select id="page" resultMap="BmOrgMap">
        SELECT bm.id,
        bm.org_name,
        bm.org_address,
        bm.org_longitude,
        bm.org_latitude,
        bm.org_described,
        bm.org_status,
        bm.org_head_a,
        bm.org_head_b,
        bm.org_business_license_id,
        sf.file_url AS orgBusinessLicenseUrl
        FROM bm_org bm
        LEFT JOIN sys_file sf ON bm.org_business_license_id = sf.id AND sf.del_flag = 1
        <where>
            bm.del_flag = 1
            <if test="query.orgName != null and query.orgName != '' ">
                AND bm.org_name LIKE CONCAT('%',#{query.orgName},'%')
            </if>
            <if test="query.orgStatus != null">
                AND bm.org_status = #{query.orgStatus}
            </if>
        </where>
    </select>


</mapper>
