<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmPatriarchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.model.dto.org.BmPatriarchDTO">
        <id column="id" property="id"/>
        <result column="pat_avatar_id" property="patAvatarId"/>
        <result column="pat_name" property="patName"/>
        <result column="pat_phone" property="patPhone"/>
        <result column="pat_wx" property="patWx"/>
        <result column="pat_address" property="patAddress"/>
        <result column="patAvatarUrl" property="patAvatarUrl"/>
    </resultMap>

    <select id="page" resultMap="BaseResultMap">
        SELECT bp.id,
        bp.pat_avatar_id,
        sf.file_url AS patAvatarUrl,
        bp.pat_name,
        bp.pat_phone,
        bp.pat_wx,
        bp.pat_address
        FROM bm_patriarch bp
        LEFT JOIN sys_file sf ON bp.pat_avatar_id = sf.id AND sf.del_flag = 1
        <where>
            bp.del_flag = 1
            <if test="query.patName != null and query.patName != '' ">
                AND bp.pat_name LIKE CONCAT('%',#{query.patName},'%')
            </if>
            <if test="query.patPhone != null and query.patPhone != '' ">
                AND bp.pat_phone LIKE CONCAT('%',#{query.patPhone},'%')
            </if>
        </where>
    </select>

    <resultMap id="BmPatriarchStuInfoVoResultMap" type="com.mini.pojo.model.vo.business.BmPatriarchStuInfoVo">
        <id column="stuId" property="stuId"/>
        <result column="stuName" property="stuName"/>
        <result column="stuAvatarId" property="stuAvatarId"/>
        <result column="stuAvatarUrl" property="stuAvatarUrl"/>
        <result column="classGradeName" property="classGradeName"/>
        <collection property="classIngInfoList"
                    ofType="com.mini.pojo.model.vo.business.ClassIngInfoVo">
            <id column="coursePicId" property="coursePicId"/>
            <result column="coursePicUrl" property="coursePicUrl"/>
        </collection>
    </resultMap>

    <select id="selectMyChildInfo" resultMap="BmPatriarchStuInfoVoResultMap">
        SELECT bs.id              AS stuId,
               bs.stu_name,
               bs.stu_avatar_id,
               sf_avatar.file_url AS stuAvatarUrl,
               bscg.class_grade_name,
               sf_course.id       AS coursePicId,
               sf_course.file_url AS coursePicUrl
        FROM bm_pat_stu_relation bpsr
                 LEFT JOIN bm_student bs ON bpsr.student_id = bs.id
            AND bs.del_flag = 1
                 LEFT JOIN sys_file sf_avatar ON bs.stu_avatar_id = sf_avatar.id
                 LEFT JOIN bm_stu_class_grade bscg ON bpsr.student_id = bscg.stu_id
            AND bscg.del_flag = 1
                 LEFT JOIN (SELECT id AS latest_course_id, class_grade_id, MAX(course_end_time)
                            FROM bm_course
                            WHERE del_flag = 1
                              AND course_status = 'class_has_end'
                            GROUP BY class_grade_id, latest_course_id) latest_course
                           ON bscg.class_grade_id = latest_course.class_grade_id
                 LEFT JOIN bm_course bc ON latest_course.latest_course_id = bc.id
                 LEFT JOIN bm_course_stu_pic bcsp ON latest_course.latest_course_id = bcsp.course_id
            AND bpsr.student_id = bcsp.stu_id
            AND bcsp.del_flag = 1
                 LEFT JOIN sys_file sf_course ON bcsp.pic_id = sf_course.id
        WHERE bpsr.patriarch_id = #{patriarchId}
    </select>
    <select id="patStuInfo" resultType="com.mini.pojo.model.vo.business.BmPatriarchStuBaseInfo"
            parameterType="java.lang.Long">
        SELECT bs.id       AS stuId,
               bs.stu_name AS stuName,
               sf.file_url AS stuAvatarUrl
        FROM bm_pat_stu_relation bpsr
                 LEFT JOIN bm_student bs ON bpsr.student_id = bs.id AND bs.del_flag = 1
                 LEFT JOIN sys_file sf ON bs.stu_avatar_id = sf.id
        WHERE bpsr.patriarch_id = #{patriarchId}
          AND bpsr.del_flag = 1
    </select>
    <select id="patProfileStuInfo" resultType="com.mini.pojo.model.vo.business.BmPatriarchStuProfileInfo"
            parameterType="java.lang.Long">
        SELECT bs.id                AS stuId,
               bs.stu_name          AS stuName,
               bs.stu_sex           AS stuSex,
               bs.stu_birth         AS stuBirth,
               bs.stu_cur_school_id AS stuCurSchoolId,
               bs.stu_cur_school    AS stuCurSchool,
               bs.stu_cur_grade_id  AS stuCurGradeId,
               bs.stu_cur_grade     AS stuCurGrade,
               bs.stu_avatar_id     AS stuAvatarId,
               sf.file_url          AS stuAvatarUrl
        FROM bm_pat_stu_relation bpsr
                 LEFT JOIN bm_student bs ON bpsr.student_id = bs.id AND bs.del_flag = 1
                 LEFT JOIN sys_file sf ON bs.stu_avatar_id = sf.id
        WHERE bpsr.patriarch_id = #{patriarchId}
          AND bpsr.del_flag = 1
    </select>

</mapper>
