<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.manager.mapper.BmPatStuRelationMapper">

    <select id="selectByStuIdList" resultType="com.mini.pojo.model.dto.org.BmPatStuRelationDTO">
        SELECT bpsr.student_id AS stuId,
        bp.id AS patId,
        bp.pat_avatar_id,
        bp.pat_name,
        bp.pat_phone,
        bp.pat_wx,
        bp.pat_address
        FROM bm_pat_stu_relation bpsr
        LEFT JOIN bm_patriarch bp ON bpsr.patriarch_id = bp.id
        <where>
            bpsr.student_id IN
            <foreach collection="stuIdList" item="stuId" open="(" separator="," close=")">
                #{stuId}
            </foreach>
        </where>
    </select>

    <resultMap id="relationStuInfo" type="com.mini.pojo.model.vo.org.BmPatRelationStuInfo">
        <id column="student_id" property="stuId"/>
        <result column="student_name" property="stuName"/>
        <collection property="bmClassGradeVoList" ofType="com.mini.pojo.model.vo.course.BmSimpleClassGradeVo">
            <id column="class_grade_id" property="id"/>
            <result column="class_grade_name" property="classGradeName"/>
            <result column="cur_type" property="curType"/>
            <result column="class_grade_type" property="classGradeType"/>
        </collection>
        <collection property="bmStuClassHourVoList" ofType="com.mini.pojo.model.vo.org.BmStuClassHourVo">
            <id column="id" property="id"/>
            <result column="class_hour" property="classHour"/>
            <result column="class_hour_type" property="classHourType"/>
        </collection>
    </resultMap>

    <select id="selectStuRelationStuInfo" resultMap="relationStuInfo">
        SELECT bpsr.student_id,
        bpsr.student_name,
        bscg.class_grade_id,
        bscg.class_grade_name,
        bcg.cur_type,
        bcg.class_grade_type,
        bsch.id,
        bsch.class_hour,
        bsch.class_hour_type
        FROM bm_pat_stu_relation bpsr
        LEFT JOIN bm_stu_class_grade bscg ON bpsr.student_id = bscg.stu_id
        LEFT JOIN bm_class_grade bcg ON bscg.class_grade_id = bcg.id
        LEFT JOIN bm_stu_class_hour bsch ON bpsr.student_id = bsch.stu_id
        <where>
            bpsr.del_flag = 1
            AND bscg.del_flag = 1
            AND bpsr.student_id IN
            <foreach collection="stuIdList" item="stuId" open="(" separator="," close=")">
                #{stuId}
            </foreach>
        </where>
    </select>

</mapper>
