<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mini.app.mapper.BmWxPatriarchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mini.pojo.entity.app.BmWxPatriarch">
        <id column="id" property="id"/>
        <result column="wx_id" property="wxId"/>
        <result column="patriarch_id" property="patriarchId"/>
    </resultMap>

</mapper>
